rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  // match logged in users total-carbon-footprint
  match /total-carbon-footprint/{userId} {
  	allow create: if request.auth.uid != null;      
    allow update: if request.auth.uid == userId;
    allow read: if request.auth.uid == userId;
    }

  // match logged in users carbon-footprint-history
  match /carbon-footprint-history/{userId} {
    allow create: if request.auth.uid != null;
    allow update: if request.auth.uid == userId;
    allow read: if request.auth.uid == userId;
    }

  // match logged in users footprint-per-transportation-type
  match /footprint-per-transportation-type/{userId} {
    allow create: if request.auth.uid != null;
    allow update: if request.auth.uid == userId;
    allow read: if request.auth.uid == userId;
    }
  }
}